@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  hr {
    @apply w-full;
  }
  u {
    @apply underline-offset-2;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  @apply bg-transparent font-normal;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply flex h-screen min-w-xxs flex-col items-start justify-start overflow-hidden;
}
